<component name="ArtifactManager">
  <artifact type="war" name="SpringCrud:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringCrud</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringCrud.war">
      <element id="artifact" artifact-name="SpringCrud:war exploded" />
    </root>
  </artifact>
</component>