<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringCrud:war exploded">
    <output-path>$PROJECT_DIR$/target/SpringCrud</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>SpringCrud</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringCrud" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.1.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.1.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.1.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.1.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.1.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.1.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.1.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.1.1.RELEASE" />
          <element id="library" level="project" name="Maven: javax.servlet:servlet-api:3.0-alpha-1" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: org.mongodb:mongo-java-driver:3.11.2" />
          <element id="library" level="project" name="Maven: org.springframework.data:spring-data-mongodb:2.2.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.2.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.data:spring-data-commons:2.2.1.RELEASE" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.26" />
          <element id="library" level="project" name="Maven: cglib:cglib:2.2.2" />
          <element id="library" level="project" name="Maven: asm:asm:3.3.1" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.1.1.RELEASE" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/SpringCrud/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="SpringCrud/web/Web" />
    </root>
  </artifact>
</component>